<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="All tests" verbose="1" parallel="methods" thread-count="10">

    <test name="Unit tests">
        <packages>
            <package name="com.github.vbauer.avconv4java.core"/>
            <package name="com.github.vbauer.avconv4java.model"/>
            <package name="com.github.vbauer.avconv4java.option"/>
            <package name="com.github.vbauer.avconv4java.util"/>
        </packages>
    </test>

</suite>
